.notification {
  .notice {
    background-color: $blue;
    color: $white-color;
    text-align: center;
  }

  .alert {
    background-color: $alert-orange;
    color: $white-color;
    text-align: center;
  }
}